@if (HttpContext!.Request.IsHtmx())
{
    @ChildContent
}
else 
{
    <BodyLayout Title="My Application">

        <nav>
            <a href="/" class="btn-link"><h3>My Application</h3></a>
        </nav>
        
        <!-- Main layout for the application, used on all non-HTMX requests -->
        <main>

            @ChildContent

            <UtilityModal />
            
        </main>

    </BodyLayout>
}

@code {
    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }

    [Parameter]
    public RenderFragment? ChildContent  { get; set; }

}